@model IEnumerable<ProjektWSB.Models.Menu>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("Dodaj danie do Menu", "Create")
</p>

<p>
    @Html.ActionLink("Lista wszystkich dań", "Index", "Dishes")
</p>

<table class="table" style="text-align:center;">
    <tr>
        <th style="text-align:center;">
            Nazwa
        </th>
        @*<th style="text-align:center;">
                Typ
            </th>*@
        <th style="text-align:center;">
            Cena
        </th>
        <th></th>
    </tr>
    @{string currentType = "";}
    @{string oldType = "";}
    @foreach (var item in Model)
    {
        if (item.Dish == null) { break; }
        currentType = item.Dish.Type;
        if (oldType != currentType)
        {
            oldType = currentType;

            <tr>
                <th colspan="4" style="background-color: lightgrey; text-align:center; font-size:medium;">
                    @currentType
                </th>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Dish.Type)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Price) zł
            </td>
            <td>
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>

        oldType = item.Dish.Type;
    }
</table>


@if (Model.ToList().Count > 0)
{
    <p>
        @Html.ActionLink("Generuj Menu", "Index", "PDF")
    </p>
}