@model IEnumerable<ProjektWSB.Models.Dish>

@{
    ViewBag.Title = "Index";
}

<h2>Wszystkie dania</h2>

<p>
    @Html.ActionLink("Stwórz nowe danie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Typ
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zł
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Powrót do Menu", "Index", "Menus")
</div>